<%- include( '../' +'components/header'); -%>

<main class="flex flex-col w-full h-full items-center justify-center gap-[2rem] ">
  <style>
    .e {
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
  </style>
  <div class="e p-[1rem] rounded-[2rem] min-w-[60%] min-h-[70%] bg-[rgb(255,255,255)]/{.2}  shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur-[5px] border border-solid border-[rgba(255,255,255,0.3)];">
    <div class="bg-white w-full h-full rounded-[1rem] p-20">
      <!-- Dashboard content -->


      <!-- End -->
    </div>
  </div>
</main>

<script>
  // TODO: Admin state managment
</script>