<%- include( '../' +'components/header'); -%>

<main class="grid grid-rows-[minmax(auto,10%)_1fr] md:grid-rows-none md:grid-cols-[minmax(auto,20%)_1fr] md:gap-4">
  <nav class="bg-sky-300 p-2 rounded-lg row-start-2 md:row-start-auto">
   <p>nav</p>
<!--    Sidebar-->
  </nav>
  <section class="bg-green-300 p-2 rounded-lg">
    <p>Content</p>
<!--    Content-->
  </section>
</main>

<script>
  // TODO: Admin state managment
</script>