<%- include( '../' +'components/header'); -%>

<main class="grid gap-2 md:gap-4 grid-rows-[1fr_minmax(auto,10%)] md:grid-rows-none md:grid-cols-[minmax(auto,15%)_1fr]">
  <nav class="p-4 rounded-lg row-start-2 md:row-start-auto md:border-none border-2 border-slate-200 shadow md:shadow-none">
   <p>nav</p>
<!--    Sidebar-->
  </nav>
  <section class="p-2 rounded-lg">
    <p>Content</p>
<!--    Content-->
  </section>
</main>

<script>
  // TODO: Admin state managment
</script>