<%- include( '../' +'components/header'); -%>

<main class="flex flex-col w-full h-full items-center justify-center gap-[2rem] ">
  <nav>
   <p>nav</p>
<!--    Sidebar-->
  </nav>
  <section>
    <p>Content</p>
<!--    Content-->
  </section>
</main>

<script>
  // TODO: Admin state managment
</script>