<%- include( '../' +'components/header'); -%>

<main class="flex flex-col w-full h-full items-center justify-center gap-[2rem]">
  <h1 class="text-[#111827] text-[2.5rem] md:text-[4.25rem] text-center tracking-[-2px] font-extrabold antialiased ">
    Insurance made easy</h1>
  <a href="/app">
    <button class="flex w-full justify-center hover:shadow active:shadow-none static w-auto border-gray-300 bg-gradient-to-b from-zinc-200 rounded-lg border bg-black text-white p-4">Get
      Started</button>
  </a>
</main>