<%- include( '../' +'components/header'); -%>

<main class="flex items-center justify-center rounded-lg gap-4 flex-col">
  <h1><% if(locals.page) {%> <%= locals.page %> <% } else { %> Marketing page <%} %></h1>
  <section><% if(locals.content) {%> <%= locals.content %> <% } else { %> Marketing content <%} %></section>
</main>